@{
    Layout = "~/Layout/_Master.cshtml";
}
<section id="login">
    @if(Request.IsAuthenticated) {
        <text>Welcome, <a href="~/Account/Profile">@WebSecurity.CurrentUserName</a>. <a href="~/Account/Logout">Logout?</a></text>
    } else {
        @:Login:
        <ul>
            <li><a href="~/Account/Login/WindowsLive" title="Login with Windows Live"><img src="~/Images/windowsLive.png" alt="Login with Windows Live"></a></li>
            <li><a href="~/Account/Login/Twitter" title="Login with Twitter"><img src="~/Images/twitter.png" alt="Login with Twitter"></a></li>
            <li><a href="~/Account/Login/Facebook" title="Login with Facebook"><img src="~/Images/facebook.png" alt="Login with Facebook"></a></li>
        </ul>
    }
</section>
<nav>
Nav menu
</nav>
<section id="body">
    @RenderBody()
</section>