@{
    Layout = "~/Layout/_Normal.cshtml";

    WebSecurity.RequireAuthenticatedUser();
    IEnumerable<OAuthAccount> accounts = OAuthWebSecurity.GetAccountsFromUserName(WebSecurity.CurrentUserName);
}
<section>
    <h1>Your Login Accounts</h1>
    <p>Below is a list of accounts you can use to log in. Use the buttons to remove one or add a new one. You cannot remove your last account without deleting your profile.</p>
    <ul>
        @foreach(OAuthAccount account in accounts) {
            <li>@account.Provider</li>
        }
    </ul>
</section>